<div class="footer" style = "background:rgba(255,255,255,0.1)">
  <div class="container">
    <p class="muted credit" style="text-align: center; color:grey" >

        &copy; 2014 <a href="https://www.linkedin.com/profile/view?id=123333477" style="color:blue">Saftophobia</a> All Rights Reserved.   |   
        <a title="Privacy Policy">Privacy Policy</a>  
         |     
        <%= link_to 'Terms of Service', "https://www.linkedin.com/profile/view?id=123333477" %> |
         <%= link_to 'About Us', "https://www.linkedin.com/profile/view?id=123333477" %> | 
         <%= link_to 'Contact', "https://www.linkedin.com/profile/view?id=123333477" %>

    </p>
  </div>
</div>