<div class="footer">
  <div class="container">
    <p class="muted credit" style="text-align: center" >

        &copy; 2014 <a href="http://www.example.com">Saftophobia</a> All Rights Reserved.   |   
        <a href="" title="Privacy Policy">Privacy Policy</a>   |     
        <%= link_to 'Terms of Service', "#" %>

    </p>
  </div>
</div>