<div class="footer" style = "background:rgba(255,255,255,0.1)">
  <div class="container">
    <p class="muted credit" style="text-align: center;" >

        &copy; 2014 <a href="http://www.example.com" style="color:grey">Saftophobia</a> All Rights Reserved.   |   
        <a href="" title="Privacy Policy">Privacy Policy</a>  
         |     
        <%= link_to 'Terms of Service', "#" %> |
         <%= link_to 'About Us', "#" %> | 
         <%= link_to 'Contact', "#" %>

    </p>
  </div>
</div>